#editor {
  display: block;
  /* or display: inline-block; */
  height: 100%;
  flex: 2;
  margin: 0;
}

.layout {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 0 0 auto;
  /* or flex: 0 0 200px; if you want a fixed width */
}

#editor-wrapper {
  height: 100%;
  flex: 2;
  margin: 0;
  margin-right: 1%;
}

.layout>* {
  margin: 0;
}

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* CSS */
.overlay-panel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30%;
  right: -29%;
  padding: 0;
  /* hide the panel to the right */
  background-color: #0b0b0b;
  /* add some padding to the panel */
  transition: right 0.5s;
  /* add a transition effect to the panel */
  border: #0d0d0d 2px solid;
  border-right: none;
  z-index: 500;
  display: flex;
  flex-direction: column;
}

.overlay-panel:hover {
  right: 0;
  /* show the panel when hovered */
}

.overlay-panel:focus-within {
  right: 0;
}

.dropdown-menu *:focus-within {
  outline: none;
}

#terminal {
  height: 96%;
}

#run {
  transition: background-color 0.5s;
}

/* FILE TREE */

.file-tree {
  list-style-type: none;
  padding-left: 0;
}

.file-tree ul {
  padding-left: 10px;
}

.file-tree li {
  margin: 5px 0;
  cursor: pointer;
  position: relative;
}

.file-tree li:hover {
  background-color: #3e3e3e;
}

.file-tree .folder::before {
  content: "\1F4C1";
  margin-right: 5px;
}

.file-tree .file::before {
  content: "\1F4C4";
  margin-right: 5px;
}

.file-tree .folder-content {
  display: none;
}

.file-tree .folder.open>.folder-content {
  display: block;
}

.file-tree .actions {
  display: none;
  position: absolute;
  right: 10px;
}

.file-tree li:hover>.actions {
  display: inline-block;
}

.file-tree .create-btn {
  display: none;
  position: absolute;
  right: 30px;
}

.file-tree .folder:hover>.create-btn {
  display: inline-block;
}

.btn-icon {
  background: none;
  border: none;
  color: #d4d4d4;
  font-size: 14px;
  padding: 0;
  margin: 0 5px;
}

.btn-icon:hover {
  color: #ff0000;
}