#editor {
  display: block;
  /* or display: inline-block; */
  height: 100%;
  flex: 2;
  margin: 0;
}

.layout {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex: 0 0 auto;
  /* or flex: 0 0 200px; if you want a fixed width */
}

#editor-wrapper {
  height: 100%;
  flex: 2;
  margin: 0;
}

.layout>* {
  margin: 0;
}

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* CSS */
.overlay-panel {
  position: absolute;
  top: 5%;
  height: 90%;
  width: auto;
  right: -10%;
  /* hide the panel to the right */
  background-color: #fff;
  /* add a background color to the panel */
  padding: 20px;
  /* add some padding to the panel */
  transition: right 0.5s;
  /* add a transition effect to the panel */
}

.overlay-panel:hover {
  right: 0;
  /* show the panel when hovered */
}